body,
h1, h2 {
    font-family: "Raleway", sans-serif;
}
:root {
    color-scheme: light dark; /* both supported */
}

body {
    --text-color: #2B2B2B;
    --bkg-color: #FAF9F6;
  }
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #2B2B2B;
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --text-color: #eee;
      --bkg-color: #2B2B2B;
    }
    body.light-theme {
      --text-color: #2B2B2B;
      --bkg-color: #FAF9F6;
    }
}

.lite {
    background-color: white;
    color: #2B2B2B;
}

.dark {
    background-color: #2B2B2B;
    color: white;
}
.text-container {
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

body,
html {
    height: 100%;
    /* background-color: lightgreen; */
    background: var(--bkg-color);
}
p, h1, h2, .w3-button { color: var(--text-color); }

.w3-button {
    font-size: 1.5em;
}

@media screen and (max-width: 500px) {
    .mySlides {
        text-align: center;
    }
  }

.bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.text-line {
    margin: 15px 0;
}