body,
h1, h2 {
    font-family: "Raleway", sans-serif;
}

.lite {
    background-color: white;
    color: #2B2B2B;
}

.dark {
    background-color: #2B2B2B;
    color: white;
}

body,
html {
    height: 100%;
    /* background-color: lightgreen; */
}

.bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.text-line {
    margin: 15px 0;
}