body,
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
:root {
  color-scheme: light dark; /* both supported */
}

body {
  --text-color: #2b2b2b;
  --bkg-color: #faf9f6;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #2b2b2b;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #2b2b2b;
  }
  body.light-theme {
    --text-color: #2b2b2b;
    --bkg-color: #faf9f6;
  }
}

.dark {
  background-color: #2b2b2b;
  color: white;
}
.text-container {
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* CSS */
.button-23 {
  background-color: var(--bkg-color);
  border-color: var(--text-color);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  outline: none;
  padding: 10px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:active {
  background-color: var(--bkg-color);
  border-color: var(--text-color);
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.btn-container {
  text-align: right;
}

body,
html {
  height: 100%;
  /* background-color: lightgreen; */
  background: var(--bkg-color);
}
p,
h1,
h2,
.w3-button {
  color: var(--text-color);
}

.w3-button {
  font-size: 1.5em;
}

@media screen and (max-width: 500px) {
  .mySlides {
    text-align: center;
  }
  .intro-text {
    font-size: 12px !important;
  }
}

.bgimg {
  background-image: url("/w3images/forestbridge.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.text-line {
  margin: 15px 0;
}
